{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>PAS Health</h1>
    <p1>An application to keep track of your diet and maintain a happier and healthier you. </p1>
  </div>
</div>

<div class="container">

    {% csrf_token %}
    <form class="form-inline" method="POST" action=""> 
	
	<!-- <input class='form-control' type="text" id="first_name" name="first_name" placeholder="First Name"/>  -->
	<input class='form-control' type="text" id="first_name" name="first_name" placeholder="First Name"/> 
	<br>

	<!-- <input class='form-control' type="text" id="last_name" name="last_name" placeholder="Last Name"/>  -->
	<input class='form-control' type="text" id="last_name" name="last_name" placeholder="Last Name"/> 
	<br>

	<!-- <input class='form-control' type="text" id="ethnicity" name="ethnicity" placeholder="Ethnicity"/>  -->
	<input class='form-control' type="text" id="ethnicity" name="ethnicity" placeholder="Ethnicity"/> 
	<br>

	<!-- <input class='form-control' type="text" id="age" name="age" placeholder="Age"/>  -->
	<input class='form-control' type="text" id="age" name="age" placeholder="Age"/> 
	<br>

	<input class='form-control' type="text" id="lifestyle" name="lifestyle" placeholder="Lifestyle (eg. Active, Sedentary)"/> 
	<br>

	<input class='form-control' type="text" id="gender" name="gender" placeholder="Gender"/> 
	<br>

	<input class='form-control' type="text" id="current_weight" name="current_weight" placeholder="Current Weight"/> 
	<br>

	<input class='form-control' type="text" id="goal_weight" name="goal_weight" placeholder="Goal Weight"/> 
	<br>
	<br>

	<button type="submit" class="btn btn-primary">Find Diet</button>

    </form>

</div>

<nav class="navbar navbar-default navbar-static-bottom navbar-inverse">
<div class="footer">
    <ul class="nav navbar-nav">
        <li> <a href="/"><span class=""></span> Home</a> </li>
        <li> <a href="/"><span class=""></span> About Us</a> </li>
        <li> <a href="/"><span class=""></span> Source Code</a> </li>
        <li> <a href="/"><span class=""></span> Contacts</a> </li>
    </ul>
</div>

{% endblock %}
